<div class="iniciado">
    <figure class="id_header"><a href="home"><img src="assets/img/id_logo.svg" alt="ID LOGO" class="id_logo"></a></figure>
    <div class="user_id">
        <div class="id_text_login">
            <h2>Andres Bernal</h2>
            <h2>26 años</h2>
            <h2>Perfil</h2>
            <h2>Cerrar Sesión</h2>
        </div>
        <img src="assets/img/user_login.jpg" alt="Andres" class="andres_id">
    </div>
</div>
<hr>
<div class="id_propuestas">
    <div class="id_perficient">
        <figure><img src="assets/img/perficient.jpg" alt="Perficient Logo" class="logo_propuesta"></figure>
        <h2 class="id_vacantes">3 VACANTES</h2>
        <div>
            <img src="assets/img/check.svg" alt="Check" class="check">
            <h2>SASS, HTML, JS</h2>
        </div>
        <div>
            <img src="assets/img/check.svg" alt="Check" class="check">
            <h2>ANGULAR, EXPRESS</h2>
        </div>
        <div>
            <img src="assets/img/miss.svg" alt="Check" class="check">
            <h2>J QUERY</h2>
        </div>
        <h2 class="id_warning"> Puedes aplicar pero te recomendamos <br>
            nivelarte en JQUERY (base de datos) <br>
            para tener mayor probabilidad de exito.</h2>
        <button>APLICAR</button>
        <button>CERTÍFICATE CON <br>
            NOSOTROS</button>
    </div>
    <div class="id_perficient">
        <figure><img src="assets/img/exito.jpg" alt="Perficient Logo" class="logo_propuesta"></figure>
        <h2 class="id_vacantes">5 VACANTES</h2>
        <div>
            <img src="assets/img/check.svg" alt="Check" class="check">
            <h2>TYPESCRIPT</h2>
        </div>
        <div>
            <img src="assets/img/check.svg" alt="Check" class="check">
            <h2>NODE.js</h2>
        </div>
        <div>
            <img src="assets/img/miss.svg" alt="Check" class="check">
            <h2>mySQL</h2>
        </div>
        <h2 class="id_warning"> Puedes aplicar pero te recomendamos <br>
            nivelarte en JQUERY (base de datos) <br>
            para tener mayor probabilidad de exito.</h2>
        <button>APLICAR</button>
        <button>CERTÍFICATE CON <br>
            NOSOTROS</button>
    </div>
    <div class="id_perficient">
        <figure><img src="assets/img/mercadolibre.jpg" alt="Perficient Logo" class="logo_propuesta"></figure>
        <h2 class="id_vacantes">2 VACANTES</h2>
        <div>
            <img src="assets/img/check.svg" alt="Check" class="check">
            <h2>HTML, SCSS</h2>
        </div>
        <div>
            <img src="assets/img/check.svg" alt="Check" class="check">
            <h2> PYTHON, PHP</h2>
        </div>
        <div>
            <img src="assets/img/check.svg" alt="Check" class="check">
            <h2>JAVASCRIPT</h2>
        </div>
        <h2 class="id_warning"> <br>
            <br>
        </h2>
        <button>APLICAR</button>
        <button>CERTÍFICATE CON <br>
            NOSOTROS</button>
    </div>
</div>
