<section class="components-text">
  <nav class="navbar navbar-expand-lg ">
    <div class="container-fluid">
      <a class="navbar-brand" href="home"><img src="assets/img/logo-id.svg" alt="logo-ID"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">INICIO</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#quienessomos">QUIENES SOMOS</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              REGISTRATE
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">SOY EMPRESA</a></li>
              <li><a class="dropdown-item" href="#">SOY JOVEN DIGITAL</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link dropdown" href="iniciarjoven">INICIA SESION</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="futuro">
    <h1>“EL FUTURO PERTENECE A QUIENES CREEN EN SUS SUEÑOS”</h1>
  </div>
  <div class="unete">
    <h2>Únete a la mayor red global que impulsará el avance de tus conocimientos para poder aplicar a empresas líderes en el sector digital</h2>
  </div>
  <div class="img-javier">
    <img src="assets/img/por-javier.png"  alt="imgen de javier">
  </div>
</section>
