<nav class="navbar navbar-expand-lg ">
    <div class="container-fluid">
      <a class="navbar-brand" href="home"><img src="assets/img/logo-id.svg" alt="logo-ID"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="home">INICIO</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Perfil empresarial</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link" href="#" role="button"  aria-expanded="false">
              Nueva Vacante
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link dropdown" href="contactanos">contacta a nuestros aliados</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
<hr class="line__orange">


<div class="input-div">
    <input class="input-class" type="text" value="Desarrollador Web Front-End">
</div>
  <div class="container_comparativa">
    <div class="selected_container">
        <img src="assets/img/edwin.jpg" alt="Edwin">
        <h2>Edwin Hernandez</h2>
        <h2>26 años</h2>
        <h2>Ing. en Informática</h2>
        <button class="b1">Seleccionado</button>
    </div>
    <div class="selected_container">
        <img src="assets/img/andres.jpg" alt="Edwin">
        <h2>Andres Bernal</h2>
        <h2>23 años</h2>
        <h2>Full stack</h2>
        <button class="b3">Seleccionar</button>
    </div>
    <div class="selected_container">
        <img src="assets/img/walter.jpg" alt="Edwin">
        <h2>Walter White</h2>
        <h2>32 años</h2>
        <h2>Junior Full Stack</h2>
        <button class="b1">Seleccionado</button>
    </div>

  </div>




<hr>

    <div class="container_comparativa">
        <div>
            <div class="selected_container">
                <img src="assets/img/edwin.jpg" alt="Edwin">
                <h2>Edwin Hernandez</h2>
                <h2>26 años</h2>
                <h2>Ing. en Informática</h2>
            </div>
            <div class="stats_container">
                <div>
                    <h2 class="stats_amarillo">74</h2>
                    <h2>JavaScript</h2>
                </div>
                <div>
                    <h2 class="stats_verde">88</h2>
                    <h2>HTML</h2>
                </div>
                <div>
                    <h2 class="stats_rojo">44</h2>
                    <h2>SASS</h2>
                </div>
                <div>
                    <h2 class="stats_verde">97</h2>
                    <h2>KOTLIN</h2>
                </div>
                <div>
                    <h2 class="stats_verde">79</h2>
                    <h2>Liderazgo</h2>
                </div>
                <div>
                    <h2 class="stats_rojo">33</h2>
                    <h2>Visual Basic</h2>
                </div>
                <div>
                    <h2 class="stats_verde">98</h2>
                    <h2>Trabajo en Equipo</h2>
                </div>
            </div>
            <div class="puntaje_id">
                <h2>PUNTAJE ID</h2>
                <h2>513</h2>
                <button>HABILIDADES <br>
                    BLANDAS</button>
                <button> SELECCIONA TU <br>
                    ID</button>
            </div>
        </div>
        <hr>
        <div>
            <div class="selected_container">
                <img src="assets/img/walter.jpg" alt="Walter">
                <h2>Walter Vargas</h2>
                <h2>32 años</h2>
                <h2>Junior Full Stack</h2>
            </div>
            <div class="stats_container">
                <div>
                    <h2 class="stats_verde">88</h2>
                    <h2>JavaScript</h2>
                </div>
                <div>
                    <h2 class="stats_verde">99</h2>
                    <h2>HTML</h2>
                </div>
                <div>
                    <h2 class="stats_amarillo">54</h2>
                    <h2>CSS</h2>
                </div>
                <div>
                    <h2 class="stats_amarillo">72</h2>
                    <h2>Angular</h2>
                </div>
                <div>
                    <h2 class="stats_verde">82</h2>
                    <h2>Manejo de la Frustración</h2>
                </div>
                <div>
                    <h2 class="stats_rojo">33</h2>
                    <h2>Base de Datos</h2>
                </div>
                <div>
                    <h2 class="stats_rojo">32</h2>
                    <h2>Trabajo en Equipo</h2>
                </div>
            </div>
            <div class="puntaje_id">
                <h2>PUNTAJE ID</h2>
                <h2>460</h2>
                <button>HABILIDADES <br>
                    BLANDAS</button>
                <button> SELECCIONA TU <br>
                    ID</button>
            </div>
        </div>
    </div>
