<section>
  <div class="titulo-equipo">
    <h1 class="titulo">Nuestro Equipo</h1>
  </div>
  <div class="display">
    <div class="equipo pointer">
      <a href="https://github.com/ThePalmars1one?tab=repositories"><img src="assets/img/alejandro.png" alt=""></a>
      <h3>Alejandro Palmar</h3>
    </div>
    <div class="equipo pointer">
      <a href="https://github.com/JoseMaria17"><img src="assets/img/jose.png" alt=""></a>
      <h3>Jose Gonzalez</h3>
    </div>
    <div class="equipo pointer">
      <a href="https://github.com/Edwinjhs"><img src="assets/img/edwin.png" alt=""></a>
      <h3>Edwin Hernandez</h3>
    </div>
    <div class="equipo">
      <img src="assets/img/grisel.png" alt="">
      <h3>Grisel Pulvirenti</h3>
    </div>
    <div class="equipo">
      <img src="assets/img/yoshi.png" alt="">
      <h3>Joselin Lozada</h3>
    </div>
  </div>
</section>
