.titulo{
  display: flex;
  justify-content: center;
}
.titulo-equipo{
  padding: 20px 0;
}
.container{
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
}
.container img{
  margin: 0 40px;
  width: 200px;
}
.pointer{
  cursor: pointer;
}

.display{
  display: flex;
  justify-content: space-around;
  flex-flow: row wrap;

}
.equipo{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center ;
  margin-right: 2rem;
}
.equipo img{
  padding: 20px 0;
}
