<section class="quienessomos" id="quienessomos">
  <h1>QUIENES SOMOS</h1>
  <p>  Somos un gran equipo de personas enfocados en ayudarte y darte las herramientas necesarias para que lleves tus capacidades al siguiente nivel profecional.
    Nuestra meta tiene como objetivo principal que termines de desarrollarte profesionalmente con nuestros cursos; estando estos enfocados en el  crecimiento de tus conocimientos base, y darle un despliegue siginificativo a la profundizacion y especializacion de tu ambito de desarrollo; siento esto muy oportuno ya que cumpliras con las demandas de los empleadores ademas de que potenciaremos tu perfil de tal forma que tu aplicacion en la empresa sea un total exito </p>
</section>
<section class="aliados-1">
  <div class="textoaliados">
    <h2>NUESTROS ALIADOS</h2>
  </div>
  <div class="aliados">
    <div class="barraaliados">
        <img src="assets/img/coderhouse-logo.png" alt="">
        <img src="assets/img/Logo-color-alta--300x82.png" alt="">
        <img src="assets/img/perficient-svg.svg"  alt="">
    </div>
  </div>
</section>
<section class="box-cards">
  <div class="subcomotrabajamos">
    <h2>CÓMO TRABAJAMOS</h2>
  </div>
  <div class="comotrabajamos">
    <div class="card">
      <h3>IDENTIFICAR LOS PERFILES QUE ESTEN ACORDES CON TU NECESIDAD</h3>
      <img src="assets/img/estadistica.png" alt="">
    </div>
    <div class="card">
      <h3>COMPARA LOS PERFILES Y SELECCIONA EL QUE MAS SE ADAPTE A TUS REQUERIMIENTOS</h3>
      <img src="assets/img/comparar.png" alt="">
    </div>
    <div class="card">
      <h3>INICIA EL PROCESO DE SELECCION</h3>
      <img class="" src="assets/img/seleccion.png" alt="">
    </div>
  </div>
</section>
