<div class="inicio">
    <a href="home"><b>INICIO</b></a>
    <img src="assets/img/id_logo.svg" alt="">
</div>
<hr class="line__orange">
<section class="titulos">
    <h2>¿El Mercado no te ofrece lo que necesitas?</h2>
    <h2>¿Nadie se postula a tus vacantes?</h2>
    <h2>Dinos lo que necesitas y con nuestros aliados,formaremos la nueva generación que necesitasen tu empresa.</h2>
    <button>CONTACTANOS</button>
</section>
<section class="aliados">
    <img src="assets/img/coderhouse-logo.png" alt="">
    <img src="assets/img/quieroser.jpg" alt="">
    <img src="assets/img/bit.jpg" alt="">
    <img src="assets/img/HenryLogo.webp" alt="">
    <img src="assets/img/programate.jpg" alt="">
</section>
